@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}
.header {
    position: relative;
    background-color: #4267b2;
    max-width: 100vw;
    height: 100px;
    align-items: center;
    display: flex;
}

.bigTitle {
    font-size: 50px;
    font-weight: 700;
    margin-left: 30px;
    color: aliceblue;
    cursor: pointer;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


.listScreen{
    display: flex;
    position: relative;
    top:20px;
    left: 200px;
    max-width: 100vw;
}
.listScreen span{
    padding: 10px 30px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}
.listScreen span:hover{
    background-color: rgba(0, 0, 0, 0.3);
}
.chart{
    width: 100%;
    max-width: 700px;
    margin: 10px auto;
    cursor: pointer;
}
.mainScreen{
    max-width: 100vw;
    display: flex;
    flex-direction: column;
}
.description{
    display: flex;
    max-width: 1140px;
    margin: 20px auto;

}
.Des-leftCol{
    padding: 24px 24px 48px;
    max-width: 50%;
}
.Des-rightCol{
    padding: 24px 0;
    /* font-family: Montserrat,sans-serif; */
    color: #212529;
    font-weight: 300;
    font-size: 1rem;
    text-align: left;
    margin: 0;
    line-height: 1.5;
    overflow-x: hidden;
    max-width: 50%;
}
.Des-rightCol p{
    margin: 0 0 8px;
    line-height: 1.6;
}
.rightCol-header{
    margin-bottom: 24px
}
.Des-list{
    display: flex;
    flex-direction: column;
}
.active{
    background-color: rgba(238, 82, 82, 0.3);
    font-weight: bolder;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(227, 180, 228, 0.3);
    border-radius: 10px;
    background-color: #fff;
}

body::-webkit-scrollbar {
    width: 8px;
    background-color: #fff;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #4267b2;
}

/* them */

.generalInfor table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 20px auto;
    max-width: 900px;
  }
  
.generalInfor  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
.generalInfor  tr:nth-child(even) {
    background-color: #37cdf3;
  }
.generalInfor  p {
    text-align: justify;
    text-justify: inter-word;
    margin: 10px auto;
    max-width: 900px;
    font-size: large;

}
.generalInfor h1{
    margin: 10px auto;
}
.generalInfor h2{
    margin: 10px auto;
    max-width: 900px;
}